.title {
	color: white;
	line-height: 100%;
	font-size: 34px;
}

.titleImage {
	padding-top: 10px;
	padding-bottom: 10px;	
}

.titleContainer {
	background-color: #191919;
	text-align: center;
	height: 120px;	
}

.mainContainer {
	background-color: #cf112d;
	text-align: center;
}

.inputForm {
	background-color: gray;
	text-align: center;
	width: 350px;
	margin: 0 auto;

	padding-top: 10px;
	padding-bottom: 10px;
}

.inputsContainer {
	margin: 0 auto;

	margin-top:10px;
	margin-bottom: 10px;
}

.inputField {
	margin-top: 5px;
	margin-bottom: 5px;
}