.mainContainer {
	background-color: #cf112d;
	text-align: center;
	max-height: 100%;
	padding: 30 10 30 10;
}

.inputForm {
	background-color: lightgray;
	text-align: center;
	width: 350px;
	margin: 0 auto;

	padding-top: 10px;
	padding-bottom: 10px;
}

.inputsContainer {
	margin: 0 auto;

	margin-top:10px;
	margin-bottom: 10px;
}

.inputField {
	margin-top: 5px;
	margin-bottom: 5px;
}